@import "./index.scss";

.background {
    width: 100%;
    height: 100%;
    // background:#000;
    padding: $sm-space;
    gap: $sm-space;
    .left,
    .right {
        width: 100%;
        height: 100%;
    }
    .left {
        @media screen and (max-width: $sm-screen) {
            display: none;
        }
    }
    .right {
        max-width: $sm-screen;

        flex-grow: 1;
        .calculator {
            height: 100%;
            box-shadow: $shadow-2;
            padding: $md-space;
            background: #fff;

            .input-box {
                width: 100%;
                padding: $sm-space;
                margin-bottom: $xl-space;
                justify-content: space-between; /**This is for App*/
                // height: calc(45% - #{$xl-space}); /**This is for Browser*/
                height: calc(100% - #{$xl-space}); /**This is for Apps*/
                .solution {
                    // max-height: 150px;
                    // height: 100%;
                    // border: 1px solid red;
                    overflow-x: hidden;
                    overflow-y: scroll;

                    .bot-response {
                        font-size: calc(14px + var(--font-size-multiplier) * 1vw);
                        line-height: 24px;
                        border-radius: $xl-space;
                        word-wrap: break-word;
                        max-width: fit-content;
                        padding: $md-space $xl-space;
                        background: #eaeef3;
                        color: rgb(0, 0, 0);
                        margin-top: $sm-space;
                    }

                    .msgCaption {
                        padding: 0 25px 10px !important;
                        padding-top: 10px !important;
                    }

                    .user-response {
                        background: rgb(0, 102, 255);
                        color: rgb(255, 255, 255);
                        font-size: 17px;
                        line-height: 24px;
                        border-radius: 20px;
                        max-width: 250px;
                        padding: 15px 17px;
                        border-bottom-right-radius: 5px;
                        word-break: break-all;
                        white-space: normal;
                    }

                    .massage {
                        padding: 0 25px 0px;
                    }

                    .massage img {
                        width: 100%;
                        height: 217px;
                        background: #eaeef3;
                        border-radius: 10px;
                        margin-bottom: 6px;
                    }

                    .captionBot img {
                        width: 18px;
                        height: 18px;
                        border-radius: 100%;
                    }

                    .captionBot {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 25px;
                        width: 117px;
                        font-size: 14px;
                        color: rgb(24, 25, 25);
                    }
                }
                .previous-operant {
                    width: 100%;
                    height: 100%;
                    
                    position: relative;                   
                    font-size: calc(22px + var(--font-size-multiplier) * 1vw);
                    span {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin: 0; /* Optional: Remove any default margins */
                        
                    }
                }
                .current-operant {
                    width: 100%;
                   
                    text-align: right;
                    font-size: calc(28px + var(--font-size-multiplier) * 1vw);
                    word-wrap: break-word;
                    word-break: break-all;
                }
                .input-field {
                    max-height: 200px;
                    // height: 30%;
                    position: relative;
                    width: 100%;
                    line-height: 44px;
                    label {
                        position: absolute;
                        top: -3px;
                        right: $sm-space;
                        color: black;
                        pointer-events: none;
                        transition: 0.2s all;
                        cursor: text;
                        font-size: calc(28px + var(--font-size-multiplier) * 1vw);
                    }
                    input {
                        width: 100%;
                        border: 0;
                        outline: 0;
                        text-align: right;
                        padding: $sm-space 0;
                        box-shadow: none;
                        font-size: calc(28px + var(--font-size-multiplier) * 1vw);
                        color: #111;
                    }
                    input:invalid {
                        outline: 0;
                    }
                    input:focus,
                    input:valid {
                    }

                    input:focus ~ label,
                    input:valid ~ label {
                        font-size: 14px;
                        top: 24px;
                        font-size: calc(18px + var(--font-size-multiplier) * 1vw);
                        color: #00dd22;
                    }
                    .input-focused {
                        & ~ label {
                            font-size: 14px;
                            top: 24px;
                            font-size: calc(18px + var(--font-size-multiplier) * 1vw);
                            color: #00dd22;
                        }
                    }
                }
            }
            .cal-btns {
                width: 100%;
                justify-content: center;
                margin-top: $md-space;
            }
            .inputs {
                width: calc(100% - #{$md-space});
                // width:calc((100% / 5)*4);

                gap: $md-space;
                & > .cal-btn {
                    // width: 100%;
                    display: flex;
                    width: calc((100% / 4) - #{$md-space});
                    place-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    padding: $sm-space;
                    font-weight: 600;
                    border-radius: $sm-space;
                    cursor: pointer;

                    &:hover {
                        border: none;
                    }
                }
                & > .equal {
                    color: $color-4;
                    background-color: #1aff8c;
                    width: calc(((100% / 4) * 2) - #{$md-space});
                }
                & > .back {
                    color: #ccc;
                }
                & > .operator {
                    color: $color-4;
                    background-color: #ff9f1a;
                }
                & > .clear {
                    color: $color-4;
                    background-color: #ff4d4d;
                }
                & > .sci {
                    width: calc((100% / 5) - #{$md-space});
                    display: flex;
                    color: $color-4;
                    background-color: #ff9f1a;
                    place-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    padding: $sm-space;
                    font-weight: 600;
                    border-radius: $sm-space;
                    cursor: pointer;

                    &:hover {
                        border: none;
                    }
                }
                & > .chat {
                    width: calc((100% / 5) * 1 - #{$md-space});
                    background: #6741d9;
                }
            }
            .sci-btns {
                width: calc((100% / 5) * 1);

                gap: $md-space;

                & > .sci {
                    width: calc((100%) - #{$md-space});
                    display: flex;
                    color: $color-4;
                    background-color: #ff9f1a;
                    place-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    padding: $sm-space;
                    font-weight: 600;
                    border-radius: $sm-space;
                    cursor: pointer;

                    &:hover {
                        border: none;
                    }
                }
            }
            .btn {
                width: 40px;
                height: 40px;
                margin: 2px;
            }
        }
    }
}
