@import "./index.scss";

.background {
    width: 100%;
    height: 100%;
    padding: $sm-space;
    gap: $sm-space;
    @media screen and (max-width: $sm-screen) {
        flex-direction: column;
    }
    .left,
    .right {
        width: 100%;
        height: 100%;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
        margin: auto;
        .center{            
            display: flex;
            flex-direction: column;
            h1{
                color: $color-1;
                text-align: center;

            }
            span{
                
                
                text-align: end;
                font-size: calc(12px + var(--font-size-multiplier) * 1vw);
                color : $color-2
            }
        }
       
        
        @media screen and (max-width: $sm-screen) {
            background-color: $color-4;
        height: 30%;
        }
    }
    .right {
        max-width: $sm-screen;

        flex-grow: 1;
        .calculator {
            height: 100%;
            @media screen and (min-width: $sm-screen) {
                box-shadow: $shadow-2;
            }
            
            padding: $md-space;
            background: #fff;
            font-size: calc(26px + var(--font-size-multiplier) * 1vw);
            .input-box {
                width: 100%;
                padding: $md-space;
                margin-bottom: $xl-space;
                justify-content: space-around; 
                
                height: calc(100% - #{$xl-space});
                background-color: $color-3;
                border-radius: $md-space;
                box-shadow: $shadow-3;
                word-wrap: break-word;
                word-break: break-all;
                .previous-operant {
                    width: 100%;
                    height: 100%;
                    
                    position: relative;                   
                    font-size: calc(26px + var(--font-size-multiplier) * 1vw);
                    span {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin: 0; /* Optional: Remove any default margins */
                        
                    }
                }
                .current-operant {
                    width: 100%;
                   
                    text-align: right;
                    font-size: calc(32px + var(--font-size-multiplier) * 1vw);
                    word-wrap: break-word;
                    word-break: break-all;
                }
                .input-field {
                    max-height: 200px;
                    // height: 30%;
                    position: relative;
                    width: 100%;
                    line-height: 44px;
                    label {
                        position: absolute;
                        top: -3px;
                        right: $sm-space;
                        color: black;
                        pointer-events: none;
                        transition: 0.2s all;
                        cursor: text;
                        font-size: calc(28px + var(--font-size-multiplier) * 1vw);
                    }
                    input {
                        width: 100%;
                        border: 0;
                        outline: 0;
                        text-align: right;
                        padding: $sm-space 0;
                        box-shadow: none;
                        font-size: calc(28px + var(--font-size-multiplier) * 1vw);
                        color: #111;
                    }
                    input:invalid {
                        outline: 0;
                    }
                    input:focus,
                    input:valid {
                    }

                    input:focus ~ label,
                    input:valid ~ label {
                        font-size: 14px;
                        top: 24px;
                        font-size: calc(18px + var(--font-size-multiplier) * 1vw);
                        color: #00dd22;
                    }
                    .input-focused {
                        & ~ label {
                            font-size: 14px;
                            top: 24px;
                            font-size: calc(18px + var(--font-size-multiplier) * 1vw);
                            color: #00dd22;
                        }
                    }
                }
            }
            .cal-btns {
                width: 100%;
                justify-content: center;
                margin-top: $md-space;
            }
            .inputs {
                width: calc(100% - #{$md-space});
                // width:calc((100% / 5)*4);

                gap: $md-space;
                & > .cal-btn {
                    // width: 100%;
                    display: flex;
                    width: calc((100% / 4) - #{$md-space});
                    place-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    padding: $sm-space;
                    font-weight: 600;
                    border-radius: $sm-space;
                    cursor: pointer;

                    &:hover {
                        border: none;
                    }
                }
                & > .equal {
                    color: $color-4;
                    background-color: #1aff8c;
                    width: calc(((100% / 4) * 2) - #{$md-space});
                }
                & > .back {
                    color: #ccc;
                }
                & > .operator {
                    color: $color-4;
                    background-color: #ff9f1a;
                }
                & > .clear {
                    color: $color-4;
                    background-color: #ff4d4d;
                }
                & > .sci {
                    width: calc((100% / 5) - #{$md-space});
                    display: flex;
                    color: $color-4;
                    background-color: #ff9f1a;
                    place-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    padding: $sm-space;
                    font-weight: 600;
                    border-radius: $sm-space;
                    cursor: pointer;

                    &:hover {
                        border: none;
                    }
                }
                & > .chat {
                    width: calc((100% / 5) * 1 - #{$md-space});
                    background: #6741d9;
                }
            }
            .sci-btns {
                width: calc((100% / 5) * 1);

                gap: $md-space;

                & > .sci {
                    width: calc((100%) - #{$md-space});
                    display: flex;
                    color: $color-4;
                    background-color: #ff9f1a;
                    place-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    padding: $sm-space;
                    font-weight: 600;
                    border-radius: $sm-space;
                    cursor: pointer;

                    &:hover {
                        border: none;
                    }
                }
            }
            .btn {
                width: 40px;
                height: 40px;
                margin: 2px;
            }
        }
    }
}